/*
    Stylesheet for jameslittle.org
    Color Palatte: https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
    Darkest: #2C3333
    Dark: #395B64
    Light: #A5C9CA
    Lightest: #E7F6F2
*/

body {
	padding-top: 5rem;
	background-color: #2C3333;
	color: #FFFFFF;
}

img#self {
	border-radius: 5%;
	max-width: 160px;
	max-height: 160px;
}

.img-showcase {
	width: 700px;
    aspect-ratio: auto 700 / 525;
    height: 525px;
}

.img-vertical {
	width: 500px;
	aspect-ratio: auto 500 / 573;
	height: 573px;
}

#error-title {
	font-weight: bold;
	font-size: 18pt;
	color: #6c757d;
}

#error-message {
	color: #6c757d;
}

a.branding:link,
a.branding:visited,
a.branding {
	/*https://colorhunt.co/palette/393e466d9886f2e7d5f7f7f7*/
	font-family: Pacifico, Cursive, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	color: #6e9797;
	text-shadow: 3px 3px #2C3333;
	text-decoration: none;
}

a.branding:hover,
a.branding:active {
	color: #A5C9CA;
}

a.nav-link.active,
.navbar-link.active {
	text-decoration: underline;
}

a.nav-link:hover {
	color: #fff;
	text-decoration:underline;
	
}

/* Navigation */
nav.bg-dark {
	background-color: #395B64 !important;
}

/* Social Media Icons */
a.social-icon {
	font-size: 24px;
}

a.small-link:link,
a.small-link:visited,
a.social-icon:link,
a.social-icon:visited {
	color: #A5C9CA;
}

a.small-link:hover,
a.small-link:active,
a.social-icon:hover,
a.social-icon:active {
	color: #E7F6F2;
}

.dark-list-group {
	--bs-list-group-color: #fff;
    --bs-list-group-bg: rgba(30,33,37)!important;
	
	/*--bs-list-group-border-color: #2C3333;*/
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
	margin-left: 0;
    border-radius: 6px;

}

.dark-list-group-item {
	text-align: left;
	margin-left: 0px;
	padding-left: 0.8em;
	margin-top: 2px;
}

.d-flex-hide {
	display: unset !important;
	visibility: hidden !important;
}

.btn-primary {
	--bs-btn-color: #A5C9CA;
	--bs-btn-bg: #395B64;
	--bs-btn-border-color: #395B64;

	--bs-btn-hover-color: #395B64;
	--bs-btn-hover-bg: #A5C9CA;
	--bs-btn-hover-border-color: #A5C9CA;

	--bs-btn-active-color: #A5C9CA;
    --bs-btn-active-bg: #1a1e1e;
    --bs-btn-active-border-color: #1a1e1e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #1a1e1e;
    --bs-btn-disabled-bg: #2C3333;
    --bs-btn-disabled-border-color: #2C3333;
}